/* 
font-family: 'Abril Fatface', cursive;
font-family: 'Raleway', sans-serif; 
*/

body {
    background-image: url('../images/background.png');
}

header {
	padding-top: 20px;
	padding-bottom: 30px;
}

.container {
	width: 800px;
	margin: 0 auto;
	padding: 0px;
}

#title {
	font-family: 'Lobster', cursive;;
	letter-spacing: 1.2px;
	text-align: center;
	color: #31184D;
	font-size: 72px;
}

#instructions {
	font-family: 'Raleway', sans-serif; 
}

.fixedButton1,
.fixedButton2,
.fixedButton3,
.fixedButton4,
.fixedButton5,
.fixedButton6 {
	float: left;
	position: fixed;
	left: 0;
}

#instructions {
	columns: 2;
	padding-top: 50px;
	padding-left: 100px;
	padding-right: 100px;
	color: rgb(60, 60, 60);
}

.fixedButton1 {
	top: 150px;
}

.fixedButton2 {
	top: 200px;
}

.fixedButton3 {
	top: 250px;
}

.fixedButton4 {
	top: 300px;
}

.fixedButton5 {
	top: 350px;
	background-color: #829AF7;
}

.fixedButton6 {
	top: 400px;
}

.crystal-image {
      width: 200px;
      height: 200px;
    }

.crystal-image:hover {
    background-color: rgba(116, 119, 161, .2);
}

credit {
	font-size: 8px;
}


